# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unittest / Coverage report
.coverage
.pytest_cache/
coverage-reports/
xunit-reports/
.DS_Store
**/.DS_Store
.idea

# localSettings
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'kuaishou',  # 数据库名称，
        'HOST': '116.62.155.162',
        'USER': 'brisa',  # 数据库用户
        'PASSWORD': 'kuaishou',  # 密码
        'PORT': 3306  # mysql的端口默认3306
    }
}